@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
  width: 100%;
  background: #D9D9D9;
  padding: 82px 90px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  background: #D9D9D9;
  color: #444;
  height: 37px;
  width: 306px;
  font-size: 16px;
  padding-left: 14px;
  border: 2.5px solid #616161;
  border-radius: 5px;
}

button {
  transition: 0.05s ease-in;
}

button:hover {
  background: #656565;
}

button:active {
  background: #dfdfdf;
  color: #656565;
  border: 1px solid #656565;
}


/*-------------------SELECTIONS--------------------*/
.model-select,
.bc-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.model-select__label,
.bc-select__label {
  font-weight: medium;
  font-size: 36px;
  margin-right: 28px;
}

.bc-select__dropdown {
  height: 40px;
  width: 252px;
}

/*----------------------BOX------------------------*/

.box {
  width: 40%;
}

.box__button {
}

.box__boundary {}

.box__label {
  margin-right: 10px;
}

.box__initial-data {
  margin-bottom: 10px;
}

.box__input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
}


.box__dropdown {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.box__button {
  width: 119px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #444;
  color: #D9D9D9;
  font-size: 20px;
  margin-bottom: 20px;
}

/*---------------------METHOD PARAMETERS-------------------------*/

.parameters-container {
  font-size: 14px;
  letter-spacing: -0.28px;
  width: 647px;
  border-radius: 10px;
  border: 3px solid #7A7A7A;
  background-color: #dadada;
  padding: 20px;
}

.check-wrapper{
  display: flex;
  gap: 50px;
  margin-bottom: 26px;
}

.header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.method-type,
.options {
  display: flex;
}

.method-type label{
  margin-right: 20px;
}

.options label{
  margin-right: 20px;
}
.inputs label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 40%;
  border-radius: 5.103px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 2px;
}




/*--------------------TABLE------------------*/

.result-box {
  width: 637px;
}

.result-box__label {
  margin-bottom: 2px
}

table {
  padding-left: 10px;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.actions {
  display: flex;
  gap: 17px;
}

.actions__button {
  display: flex;
  width: 107px;
  height: 24px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background: #444;
  color: #dfdfdf;
}