body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #0050aa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}

.main-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.hyperparams-container {
    display: flex;
}

.input-group, .hyperparams-container, .fourier-params, .train-parameters {
    padding: 15px;
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 2px solid #0050aa;
}

.param-group {
    margin-bottom: 15px;
    padding: 10px;
}

.input-group label, .param-group label, h3 {
    color: #0050aa;
    text-align: center;
}

.input-group input, .param-group input {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border: 1px solid #0050aa;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    width: calc(100% - 24px);
    display: block;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.primary-button, .danger-button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    border: 0.5px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.primary-button {
    background-color: #0050aa;
    color: white;
}
.primary-button:hover {
    background-color: #003f88;
    transform: scale(1.05);
}

.danger-button {
    background-color: #ff4444;
}
.danger-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}