<div id="neural_table" style="display:table; width:100%; ">
    <h3> Exchange </h3>
    {% if items %}
    <label for="model_select">Выберите модель:</label>
    <select id="model_select">
        {% for item in items %}
        <option value="{{ item.id }}">{{ item.hyper_param.mymodel_desc }}</option>
        {% endfor %}
    </select>

    <button onclick="handle_load_button()">Load</button>

    <div id="model_controls" style="display: none; margin-top: 10px;">
        <button onclick="handle_train_button()">Train</button>
        <button onclick="handle_run_button()">Run</button>
    </div>
    {% endif %}
</div>
